<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Heists</a><p class="navbar-text">{{seat.playerName}} playing {{game.name}}</p>
    </div>
  </div>
</nav>

<div class="container">
  <div class="" ng-show="!!gameError">
    <div class="alert alert-danger">
      {{gameError}}
    </div>
  </div>

  <div ng-show="game.state !== 'pregame' && game.state !== 'roleReview'" class="gameTracker panel" ng-class="trackerClass(game)">
    <div ng-show="game.state !== 'postGame' && game.state !== 'lastDitch'" class="panel-heading">Heist {{game.heistCount + 1}}<span ng-show="game.attemptCount > 0">, Attempt {{game.attemptCount + 1}}</span></div>
    <div ng-show="game.state === 'lastDitch'" class="panel-heading">The Detective's Last Chance</div>
    <div ng-show="game.state === 'postGame'" class="panel-heading">{{game.minorityVictory ? 'Undercover Cops' : 'Criminals'}} Win!</div>
    <table class="table">
      <thead>
      <tr>
        <th ng-repeat="heist in game.heistHistory" ng-class="heistClass(heist);">
          <span ng-show="heist.completed" class="glyphicon" ng-class="heist.heistSuccessful ? 'glyphicon-ok-sign' : 'glyphicon-remove-sign'"></span>
          <span ng-show="!heist.completed">{{heist.teamSize}}</span>
        </th>
      <tr>
      </thead>
    </table>
    <div ng-show="game.double && game.state !== 'postGame'" class="panel-footer">Heist 4 requires 2 Fails to fail.</div>
    <ul ng-show="game.state === 'postGame'" class="list-group">
      <li class="list-group-item" ng-repeat="seat in game.seats | orderBy:'isMinority'" ng-class="seat.isMinority ? 'list-group-item-danger' : 'list-group-item-success'">
        {{seat.playerName}}
        <span class="label label-success pull-right" ng-show="seat.isAllKnowing">Mastermind</span>
        <span class="label label-danger pull-right" ng-show="seat.isLastDitch">Detective</span>
        <span class="label label-warning pull-right" ng-show="seat.isLastDitched">Arrested</span>
      </li>
    </ul>
  </div>

  <div ng-show="game.state === 'roleReview'">
    <div class="panel panel-info">
      <div class="panel-heading">
        The Game
      </div>
      <ul class="list-group">
        <li class="list-group-item"><strong class="text-success">{{game.seats.length - game.minorityCount}} Criminals</strong> vs <strong class="text-danger">{{game.minorityCount}} Undercover Cops</strong></li>
      </ul>
      <div class="panel-collapse collapse" id="rules">
        <ul class="list-group">
          <li class="list-group-item"><strong class="text-success">Criminals</strong> win the game if <strong>three heists</strong> are <strong class="text-success">successful</strong>.</li>
          <li class="list-group-item"><strong class="text-danger">Undercover Cops</strong> win the game if <strong>three heists</strong> are <strong class="text-danger">failed</strong>.</li>
          <li class="list-group-item"><strong class="text-danger">Undercover Cops</strong> know who the other <strong class="text-danger">Undercover Cops</strong> are.</li>
          <li class="list-group-item">The <strong class="text-success">Criminal Mastermind</strong> knows who the <strong class="text-danger">Undercover Cops</strong> are.</li>
          <li class="list-group-item"><strong class="text-danger">Undecover Cops</strong> also win if the <strong class="text-danger">Detective</strong> arrests the <strong class="text-success">Criminal Mastermind</strong> after three successful heists.</li>
        </ul>
      </div>
      <div class="panel-footer" data-toggle="collapse" data-target="#rules" href="#rules">
        Tap to show/hide game rules.
      </div>
    </div>
    <div ng-show="!seat.isReady" class="panel panel-primary">
      <div class="panel-heading" data-toggle="collapse" data-target="#role" href="#role" >
        Tap to show/hide your role.
      </div>
      <div class="panel-collapse collapse" id="role">
        <div class="panel-body">
          You are <strong>{{seat.roleName}}</strong>.
        </div>
        <div class="panel-body">
          <div class="panel panel-default">
            <div class="panel-heading">
              The <strong class="text-danger">Undercover Cops</strong> are:
            </div>
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="cop in game.minority">{{seat.isMinority || seat.isAllKnowing ? cop.playerName : 'Unknown'}}</li>
            </ul>
          </div>
          <button ng-click="ready()" type="button" class="btn btn-block btn-primary btn-lg">Ready</button>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="game.state === 'teamBuild' && seat.isLeader" class="panel panel-primary">
    <div class="panel-heading">
      <strong>You are the Leader.</strong><br />
      Choose {{game.currentRound.teamSize}} Heist Crew members.
    </div>
    <ul class="list-group">
      <li ng-repeat="seat in game.seats" class="list-group-item" ng-class="seat.isOnTeam ? 'list-group-item-info' :  ''" ng-click="toggleTeam(seat.playerId)">{{seat.playerName}}</li>
    </ul>
  </div>
  <div ng-show="game.state === 'teamBuild' && !seat.isLeader" class="panel panel-default">
    <div class="panel-heading">
      {{game.currentRound.leader.playerName}} is choosing {{game.currentRound.teamSize}} Heist Crew members.
    </div>
    <ul class="list-group">
      <li ng-repeat="seat in game.seats" class="list-group-item" ng-class="seat.isOnTeam ? 'list-group-item-info' :  ''">{{seat.playerName}}</li>
    </ul>
  </div>

  <div ng-show="game.state === 'teamVote'" class="panel panel-default">
    <div class="panel-heading">
      {{seat.isLeader ? 'Your' : game.currentRound.leader.playerName + "'s"}} Heist Crew
    </div>
    <ul class="list-group">
      <li ng-repeat="seat in game.currentRound.team" class="list-group-item">{{seat.playerName}}</li>
    </ul>
    <div class="panel-body">
      <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group">
          <button class="btn btn-lg" ng-class="seat.hasTeamVoted && seat.teamVote ? 'btn-success' : 'btn-default'" ng-click="teamVote(true)">Approve</button>
        </div>
        <div class="btn-group">
          <button class="btn btn-lg" ng-class="seat.hasTeamVoted && !seat.teamVote ? 'btn-danger' : 'btn-default'" ng-click="teamVote(false)">Reject</button>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="game.state === 'teamVote'" class="panel panel-default">
    <div class="panel-heading">
      Cast Votes
    </div>
    <ul class="list-group">
      <li ng-repeat="seat in game.seats" class="list-group-item" ng-class="seatHasVotedClass(seat)">{{seat.playerName}}</li>
    </ul>
  </div>

  <div ng-show="game.state === 'heist' && seat.isOnTeam && !seat.hasHeistVoted" class="panel panel-primary">
    <div class="panel-heading">
      You're on the Heist!
    </div>
    <div class="panel-body">
      <button class="btn btn-block btn-lg" ng-class="seat.hasHeistVoted && seat.heistVote ? 'btn-primary' : 'btn-default'" ng-click="heistVote(true)">Succeed</button>
      <button class="btn btn-block btn-lg" ng-class="seat.hasHeistVoted && !seat.heistVote ? 'btn-primary' : 'btn-default'" ng-click="heistVote(false)">Fail</button>
    </div>
  </div>
  <div ng-show="game.state === 'heist' && (!seat.isOnTeam || seat.hasHeistVoted)" class="panel panel-default">
    <div class="panel-heading">
      Waiting for the Heist Crew to return...
    </div>
    <ul class="list-group">
      <li ng-repeat="seat in game.currentRound.team" class="list-group-item" ng-class="seat.hasHeistVoted ? 'list-group-item-info' :  ''">{{seat.playerName}}</li>
    </ul>
  </div>

  <div ng-show="game.state === 'heistReview'">
    <div class="panel" ng-class="game.currentRound.heistSuccessful ? 'panel-success' : 'panel-danger'">
      <div class="panel-heading">
        Heist {{game.currentRound.heistSuccessful ? 'Successful' : 'Failed'}}
      </div>
      <table class="table">
        <thead>
          <tr>
            <th ng-repeat="vote in game.currentRound.heistVotes" ng-class="vote.vote ? 'success' : 'danger'">
              <span class="glyphicon" ng-class="vote.vote ? 'glyphicon-ok-sign' : 'glyphicon-remove-sign'"></span>
            </th>
          </tr>
        </thead>
      </table>
    </div>
    <button ng-show="!seat.isReady" ng-click="ready()" type="button" class="btn btn-block btn-primary btn-lg">Ready</button>
  </div>

  <div ng-show="seat.isReady" class="panel panel-info">
    <div class="panel-heading">
      Waiting for other players...
    </div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="seat in game.seats" ng-class="seat.isReady ? 'list-group-item-info' :  ''">{{seat.playerName}}</li>
    </ul>
  </div>

  <div ng-show="game.state === 'lastDitch' && seat.isLastDitch" class="panel panel-info">
    <div class="panel-heading">
      Arrest the Criminal Mastermind.
    </div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="seat in game.seats" ng-show="!seat.isMinority" ng-click="lastDitch(seat.playerId)">{{seat.playerName}}</li>
    </ul>
  </div>
  <div ng-show="game.state === 'lastDitch' && !seat.isLastDitch" class="panel panel-info">
    <div class="panel-heading">
      Waiting for the Detective.
    </div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="seat in game.seats" ng-show="seat.isLastDitch">{{seat.playerName}}</li>
    </ul>
  </div>

  <div ng-show="game.state === 'pregame' || game.state === 'postGame'">
    <h3 class="text-center" ng-show="game.state === 'pregame'">{{game.seats.length}} player{{game.seats.length > 1 ? 's' : ''}} connected</h3>
    <button ng-show="game.readyToStart" ng-click="startGame()" type="button" class="btn btn-block btn-primary btn-lg">Start New Game</button>
  </div>
</div>
