<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Heists</a><p class="navbar-text">{{seat.playerName}} playing {{game.name}}</p>
    </div>
  </div>
</nav>

<div class="container">
  <div class="" ng-show="!!gameError">
    <div class="alert alert-danger">
      {{gameError}}
    </div>
  </div>
  <div ng-show="game.state === 'roleReview'">
    You are {{seat.roleName}}.
    There are {{game.minorityCount}} Undercover Cops.
    <div ng-show="seat.isMinority || seat.isAllKnowing">
      They cops are:
      <ul>
        <li ng-repeat="item in game.minority">{{item.playerName}}</li>
      </ul>
    </div>
    <button ng-show="!seat.isReady" ng-click="ready()" type="button" class="btn btn-success btn-lg">Ready</button>
  </div>
  <div ng-show="game.state === 'teamBuild' && seat.isLeader">
    You are the Leader.
    Select {{game.currentRound.teamSize}} Criminals to go on this Heist.
    <button ng-repeat="item in game.seats" class="btn" ng-class="item.isOnTeam ? 'btn-primary' :  'btn-default'" ng-click="toggleTeam(item.playerId)">{{item.playerName}}</button>
  </div>
  <div ng-show="game.state === 'teamBuild' && !seat.isLeader">
    Waiting for {{game.currentRound.leader.playerName}} to select {{game.currentRound.teamSize}} Criminals to go on this Heist.
  </div>
  <div ng-show="game.state === 'teamVote'">
    <button class="btn" ng-class="seat.hasTeamVoted && seat.teamVote ? 'btn-success' : 'btn-default'" ng-click="teamVote(true)">Approve</button>
    <button class="btn" ng-class="seat.hasTeamVoted && !seat.teamVote ? 'btn-danger' : 'btn-default'" ng-click="teamVote(false)">Reject</button>
  </div>
  <div ng-show="game.state === 'heist' && seat.isOnTeam">
    <button class="btn" ng-class="seat.hasHeistVoted && seat.heistVote ? 'btn-primary' : 'btn-default'" ng-click="heistVote(true)">Succeed</button>
    <button class="btn" ng-class="seat.hasHeistVoted && !seat.heistVote ? 'btn-primary' : 'btn-default'" ng-click="heistVote(false)">Fail</button>
  </div>
  <div ng-show="game.state === 'heist' && !seat.isOnTeam">
    Waiting for Heist to be completed.
  </div>
  <div ng-show="game.state === 'heistReview'">
    Heist results:
    <ul>
      <li ng-repeat='vote in game.currentRound.heistVotes'>{{vote.vote}}</li>
    </ul>
    <button ng-show="!seat.isReady" ng-click="ready()" type="button" class="btn btn-success btn-lg">Ready</button>
  </div>
  <div ng-show="game.state === 'lastDitch' && seat.isLastDitch">
    You are above the law. Kill the Criminal Mastermind.
    <button ng-repeat="item in game.seats" class="btn" ng-class="item.isMinority ? 'btn-danger' : 'btn-default'" ng-click="lastDitch(item.playerId)">{{item.playerName}}</button>
  </div>
  <div ng-show="game.state === 'lastDitch' && !seat.isLastDitch">
    Waiting for the Dirty Cop to attempt to kill the Criminal Mastermind.
  </div>
  <div ng-show="game.state === 'postGame' && game.minorityVictory">
    Cops win!
  </div>
  <div ng-show="game.state === 'postGame' && !game.minorityVictory">
    Criminals win!
  </div>
  <div ng-show="game.state === 'pregame' || game.state === 'postGame'">
    {{game.seats.length}} players
    <button ng-show="game.readyToStart" ng-click="startGame()" type="button" class="btn btn-success btn-lg">Start</button>
  </div>
</div>
