<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/#/"><img alt="heists" src="public/img/logo.png" class="logo"></a>
    </div>
  </div>
</nav>

<div class="container">
  <form ng-show="inLobby" class="ng-pristine ng-valid" role="search">
    <div class="form-group">
      <label for="nameInput">Choose a Name</label><input type="text" id="nameInput" class="form-control ng-pristine ng-valid" placeholder="Your name here" ng-model="gameSvc.playerName">
    </div>
  </form>
  <div ng-show="gameSvc.playerName" style="margin-bottom: 15px;">
    <button ng-repeat="game in previousGames" class="btn btn-primary btn-block btn-lg" ng-click="joinGame(game.id)">Rejoin Previous Game</button>
    <button class="btn btn-primary btn-block btn-lg" ng-click="createGame()">Host New Game</button>
    <hr />
    <div class="row" id="availableGames" >
      <div class="col-lg-10">
        <strong id="noGames" ng-show="availableGames.length == 0">No active games.</strong>
        <div ng-repeat="game in availableGames" class="well">
          <button ng-click="joinGame(game.id)" type="button" class="btn btn-primary" style="margin-right: 10px;">Join Game</button>
          <span style="font-size: larger">{{game.name}} - {{game.playerCount}} players</span>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="panel panel-default">
      <div class="panel-collapse collapse" id="rules">
        <ul class="list-group">
          <li class="list-group-item">This game sends 5-10 <strong class="text-success">Guardians</strong> and <strong class="text-danger">Corrupted Guardians</strong> on a series of 3-5 <strong>Strikes</strong>.</li>
        </ul>
        <ul class="list-group">
          <li class="list-group-item"><strong class="text-danger">The Corrupted</strong> are <strong>known</strong> to other <strong class="text-danger">Corrupted Guardians</strong> and to <strong class="text-success">Jaren Ward</strong>.</li>
          <li class="list-group-item"><strong class="text-danger">The Corrupted</strong> are <strong>hidden</strong> from all other <strong class="text-success">Guardians</strong>.</li>
        </ul>
        <ul class="list-group">
          <li class="list-group-item"><strong class="text-success">Guardians</strong> win the game if <strong>three</strong> Strikes <strong class="text-success">succeed</strong>.</li>
          <li class="list-group-item"><strong class="text-danger">The Corrupted</strong> win the game if <strong>three</strong> Strikes <strong class="text-danger">fail</strong>.</li>
          <li class="list-group-item"><strong class="text-danger">The Corrupted</strong> also win if <strong class="text-danger">Dredgen Yor</strong> murders <strong class="text-success">Jaren Ward</strong> after three <strong class="text-success">successful</strong> Strikes.</li>
        </ul>
      </div>
      <div class="panel-footer">
        <button class="btn btn-default btn-block" data-toggle="collapse" data-target="#rules" href="#rules">
          Tap to show/hide game rules.
        </button>
      </div>
    </div>
  </div>
</div>
