.table, .panel {
  overflow: hidden;
}
.table>thead>tr>th {
  border: none;
  text-align: center;
  font-size: 1.5em;
  line-height: 1em;
  vertical-align: middle;
}
.gameTracker .table>thead>tr>th.default:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.navbar-inverse {
  background-color: black;
}
.navbar-brand>img {
  height: 25px;
  margin: 0 auto;
}
.navbar-inverse .navbar-brand {
  width: 100%;
}
.btn-default:hover {
  border-color: #ccc;
  background-color: white;
}
